In [1]:
import pandas as pd
import numpy as np

Read File

In [6]:
df=pd.read_csv('states0.csv')

Data

In [7]:
df

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Alabama,4830620,3.75%,61.88%,31.25%,0.45%,1.05%,0.03%,$43296.35860306644,2341093M_2489527F
1,1,Alaska,733375,5.91%,60.91%,2.85%,16.39%,5.45%,1.06%,$70354.74390243902,384160M_349215F
2,2,Arizona,6641928,29.57%,57.12%,3.85%,4.36%,NaN,0.17%,NaN,3299088M_3342840F
3,3,Arkansas,2958208,NaN,71.14%,18.97%,0.52%,1.14%,0.15%,$41935.63396778917,1451913M_1506295F
4,4,California,38421464,37.29%,40.22%,5.68%,0.41%,13.05%,0.35%,$67264.78230266465,19087135M_19334329F
5,5,Colorado,,NaN,69.90%,3.55%,0.57%,2.66%,NaN,$64657.801787164906,2648667M_2630239F

Checking Null Values

In [8]:
pd.isnull(df)

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False,False,True,False,False

In [9]:

cleaned = df.dropna()

In [12]:
pd.isnull(cleaned)

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False

In [13]:
cleaned

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Alabama,4830620,3.75%,61.88%,31.25%,0.45%,1.05%,0.03%,$43296.35860306644,2341093M_2489527F
1,1,Alaska,733375,5.91%,60.91%,2.85%,16.39%,5.45%,1.06%,$70354.74390243902,384160M_349215F
4,4,California,38421464,37.29%,40.22%,5.68%,0.41%,13.05%,0.35%,$67264.78230266465,19087135M_19334329F

In [14]:
df

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Alabama,4830620,3.75%,61.88%,31.25%,0.45%,1.05%,0.03%,$43296.35860306644,2341093M_2489527F
1,1,Alaska,733375,5.91%,60.91%,2.85%,16.39%,5.45%,1.06%,$70354.74390243902,384160M_349215F
2,2,Arizona,6641928,29.57%,57.12%,3.85%,4.36%,NaN,0.17%,NaN,3299088M_3342840F
3,3,Arkansas,2958208,NaN,71.14%,18.97%,0.52%,1.14%,0.15%,$41935.63396778917,1451913M_1506295F
4,4,California,38421464,37.29%,40.22%,5.68%,0.41%,13.05%,0.35%,$67264.78230266465,19087135M_19334329F
5,5,Colorado,,NaN,69.90%,3.55%,0.57%,2.66%,NaN,$64657.801787164906,2648667M_2630239F

Fillna

In [16]:
df.fillna(0)

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Alabama,4830620,3.75%,61.88%,31.25%,0.45%,1.05%,0.03%,$43296.35860306644,2341093M_2489527F
1,1,Alaska,733375,5.91%,60.91%,2.85%,16.39%,5.45%,1.06%,$70354.74390243902,384160M_349215F
2,2,Arizona,6641928,29.57%,57.12%,3.85%,4.36%,0,0.17%,0,3299088M_3342840F
3,3,Arkansas,2958208,0,71.14%,18.97%,0.52%,1.14%,0.15%,$41935.63396778917,1451913M_1506295F
4,4,California,38421464,37.29%,40.22%,5.68%,0.41%,13.05%,0.35%,$67264.78230266465,19087135M_19334329F
5,5,Colorado,,0,69.90%,3.55%,0.57%,2.66%,0,$64657.801787164906,2648667M_2630239F

Checking Duplicat

In [17]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

Outliers

In [19]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.042650    -0.016230    -0.003645     0.008273
std       1.010351     1.014413     0.994137     1.016501
min      -3.262120    -3.367571    -2.856609    -2.980136
25%      -0.645731    -0.661871    -0.647843    -0.669761
50%       0.059589    -0.022525    -0.023783     0.010366
75%       0.699808     0.630208     0.679812     0.701893
max       3.295300     4.172811     2.641947     3.406071

In [21]:
col = data[2]
col[np.abs(col) > 3]

Series([], Name: 2, dtype: float64)

In [22]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
76   0.912533  0.056028  0.352657  3.154684
144 -3.262120 -0.457824 -0.728909  1.536670
159  0.558708 -3.367571 -0.342955  1.401870
359 -0.110655  0.441267  0.044014  3.406071
412  3.295300  0.099822 -1.133061 -0.392318
573  0.161938  4.172811 -0.245944 -1.134573
681  3.082762 -0.433213  1.001747 -0.868436
994  0.098515  1.748103  1.032320  3.191094

In [23]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.042534    -0.017035    -0.003645     0.007521
std       1.008371     1.009080     0.994137     1.014172
min      -3.000000    -3.000000    -2.856609    -2.980136
25%      -0.645731    -0.661871    -0.647843    -0.669761
50%       0.059589    -0.022525    -0.023783     0.010366
75%       0.699808     0.630208     0.679812     0.701893
max       3.000000     3.000000     2.641947     3.000000

In [24]:
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0 -1.0 -1.0
1 -1.0 -1.0  1.0 -1.0
2 -1.0 -1.0  1.0  1.0
3 -1.0  1.0 -1.0  1.0
4 -1.0 -1.0  1.0  1.0